brew 'asdf'
brew 'autoenv'
brew 'az'
brew 'bash'
brew 'chezmoi'
brew 'cmake'
brew 'coreutils'
brew 'ctags'
brew 'curl'
brew 'direnv'
brew 'editorconfig'
brew 'fzf'
brew 'gh'
brew 'git'
brew 'git-crypt'
brew 'gitsign'
brew 'gnupg'
brew 'go'
brew 'goimports'
brew 'golangci-lint'
brew 'hashicorp/tap/terraform'
brew 'helm'
brew 'hugo'
brew 'jq'
brew 'just'
brew 'k9s'
brew 'kind'
brew 'kubernetes-cli'
brew 'markdownlint-cli2'
brew 'podman'
brew 'podman-compose'
brew 'pre-commit'
brew 'slp/krunkit/krunkit'
brew 'sqlite'
brew 'step'
brew 'terraform'
brew 'terraform-docs'
brew 'tree'
brew 'uv'
brew 'wget'
brew 'yq'
brew 'zizmor'

{{- if eq .chezmoi.hostname .work_hostname }}
brew 'az'
brew 'chainguard-dev/tap/chainctl'
{{- end }}

cask '1password-cli'
cask 'appzapper'
cask 'claude-code'
cask 'iterm2'
cask 'linear-linear'
cask 'podman-desktop'
cask 'spotify'
cask 'visual-studio-code'

{{- if eq .chezmoi.hostname .work_hostname }}
cask 'gcloud-cli'
cask 'loom'
{{- end }}

{{- if eq .chezmoi.hostname .personal_hostname }}
cask 'discord'
cask 'google-chrome'
cask 'signal'
cask 'slack'
cask 'zoom'
{{- end }}
