#!/bin/bash

{{- if (eq .osid "linux-debian") }}
set -e

apt-get update -y
echo "Installing Linux packages ..."
apt-get install -y cmake python-dev jq gh yq

{{- else }}
echo "Not Linux, skipping package installation."
{{- end }}
