#!/bin/bash

{{- if (eq .osid "linux-debian") }}
set -e

apt-get update -y
echo "Installing Linux packages ..."
apt-get install {{- join " " .all_packages.linux -}}

{{- else }}
echo "Not Linux, skipping package installation."
{{- end }}
