#!/bin/bash

{{- if (eq .chezmoi.os "darwin") }}
set -e

if ! command -v xcode-select >/dev/null 2>&1; then
  echo "Installing xcode ..."
  xcode-select --install
fi

if ! command -v brew >/dev/null 2>&1; then
  "Installing Homebrew ..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

echo "Installing Homebrew taps, packages, and casks ..."

brew bundle --file=/dev/stdin <<EOF
{{- range .all_packages.darwin.tap }}
tap {{ . | quote }}
{{- end }}
{{- range .all_packages.darwin.brew }}
brew {{ . | quote }}
{{- end }}
{{- range .all_packages.darwin.cask }}
cask {{ . | quote }}, greedy: true
{{- end }}
EOF

{{- if eq .chezmoi.hostname .work_hostname }}
{{- range .work_packages.darwin.tap }}
tap {{ . | quote }}
{{- end }}
{{- range .work_packages.darwin.brew }}
brew {{ . | quote }}
{{- end }}
{{- range .work_packages.darwin.cask }}
cask {{ . | quote }}, greedy: true
{{- end }}
{{- end }}

{{- if eq .chezmoi.hostname .personal_hostname }}
{{- range .personal_packages.darwin.tap }}
tap {{ . | quote }}
{{- end }}
{{- range .personal_packages.darwin.brew }}
brew {{ . | quote }}
{{- end }}
{{- range .personal_packages.darwin.cask }}
cask {{ . | quote }}, greedy: true
{{- end }}
{{- end }}

{{- else }}
echo "Not macOS, skipping Homebrew package installation."
{{- end }}
