#!/bin/bash

{{- if (eq .chezmoi.os "darwin") }}
set -e

if ! command -v xcode-select >/dev/null 2>&1; then
  echo "Installing xcode ..."
  xcode-select --install
fi

if ! command -v brew >/dev/null 2>&1; then
  echo "Installing Homebrew ..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

echo "Installing Homebrew taps, packages, and casks ..."

brew bundle --cleanup --file=Brewfile

{{- else }}
echo "Not macOS, skipping Homebrew package installation."
{{- end }}
