#!/bin/bash

{{- if (eq .chezmoi.os "darwin") }}
set -e

if ! xcode-select -p > /dev/null; then
xcode-select --install
fi

if ! which brew > /dev/null; then
  # install homebrew
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew bundle --file=/dev/stdin <<EOF
{{- range .packages.darwin.tap }}
tap {{ . | quote }}
{{- end }}
{{- range .packages.darwin.brew }}
brew {{ . | quote }}
{{- end }}
{{- range .packages.darwin.cask }}
cask {{ . | quote }}, greedy: true
{{- end }}
EOF

{{- else }}
echo "Not macOS, skipping Homebrew package installation."
{{- end }}
