#!/bin/bash

{{- if (eq .osid "linux-debian") }}
set -e

apt update -y
echo "Installing Linux packages ..."
apt install -y cmake curl gh jq python-dev-is-python3 yq

{{- else }}
echo "Not Linux, skipping package installation."
{{- end }}
